<widget id="com.app.recognition" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RecognitionFacial</name>
    <description>Facial Recognition Plugin</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <js-module src="www/recognitionFacial.js" name="RecognitionFacial">
        <clobbers target="recognitionFacial" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RecognitionFacial">
                <param name="android-package" value="com.app.recognition.matchingservice.RecognitionFacial" />
            </feature>
        </config-file>

        <source-file src="src/android/RecognitionFacial.java" target-dir="src/com/app/recognition/matchingservice" />
        <source-file src="src/android/MatchingService.java" target-dir="src/com/app/recognition/matchingservice" />
        <source-file src="src/utils/MatchingServiceResluts.java" target-dir="src/com/app/recognition/matchingservice/utils" />
        <source-file src="src/utils/AuthenticationError.java" target-dir="src/com/app/recognition/matchingservice/utils" />

        <resource-file src="jniLibs" target="jniLibs" />
        <resource-file src="data" target="assets/data" />

        <lib-file src="bin/android/jna.jar" />
        <lib-file src="bin/android/neurotec-biometrics-android.jar" />
        <lib-file src="bin/android/neurotec-biometrics-client-android.jar" />
        <lib-file src="bin/android/neurotec-core-android.jar" />
        <lib-file src="bin/android/neurotec-devices-android.jar" />
        <lib-file src="bin/android/neurotec-gui-android.jar" />
        <lib-file src="bin/android/neurotec-licensing-android.jar" />
        <lib-file src="bin/android/neurotec-licensing-gui-android.jar" />
        <lib-file src="bin/android/neurotec-media-android.jar" />
        <lib-file src="bin/android/neurotec-media-processing-android.jar" />

        <!-- <framework src="bin/android/neurotec-gui-android.aar" custom="true" />
        <framework src="bin/android/neurotec-licensing-android.aar" custom="true" /> -->
    </platform>

    <platform name="ios">
        <source-file src="src/ios/MegaMatcherPlugin.swift" />
    </platform>
</widget>
