<widget id="cordova-plugin-neurotechnology" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Neurotechnology</name>
    <description>Facial Recognition Plugin</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <js-module src="www/neurotechnology.js" name="Neurotechnology">
        <clobbers target="neurotechnology" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Neurotechnology">
                <param name="android-package" value="com.cordova.neurotechnology.Neurotechnology" />
            </feature>
        </config-file>

        <framework src="androidx.preference:preference:1.2.1" />
        <framework src="com.google.android.gms:play-services-base:17.6.0" />

        <source-file src="src/android/Neurotechnology.java" target-dir="src/com/cordova/neurotechnology" />
        <source-file src="src/android/NeurotechnologyService.java" target-dir="src/com/cordova/neurotechnology" />
        <source-file src="src/android/utils/Callback.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/NeurotechnologyServiceResluts.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/AuthenticationError.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/AutoFitTextureView.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/FaceOverlayView.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/AppSettings.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/CameraResolution.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/utils/NeuroLogger.java" target-dir="src/com/cordova/neurotechnology/utils" />
        <source-file src="src/android/helpers/FaceFrame.java" target-dir="src/com/cordova/neurotechnology/helpers" />
        <source-file src="src/android/licensing/LicensingManager.java" target-dir="src/com/cordova/neurotechnology/licensing" />
        <source-file src="src/android/licensing/LicensingState.java" target-dir="src/com/cordova/neurotechnology/licensing" />
        <source-file src="src/android/activity_main.xml" target-dir="res/layout" />

        <resource-file src="platforms/android/jniLibs" target="jniLibs" />
        <resource-file src="platforms/android/data" target="assets/data" />

        <lib-file src="platforms/android/libs/neurotec-biometrics-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-biometrics-client-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-media-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-core-android.jar" />
        <lib-file src="platforms/android/libs/jna.jar" />

        <lib-file src="platforms/android/libs/neurotec-devices-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-gui-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-licensing-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-licensing-gui-android.jar" />
        <lib-file src="platforms/android/libs/neurotec-media-processing-android.jar" />

        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
    </platform>

    <platform name="ios">
        <!-- <source-file src="src/ios/MegaMatcherPlugin.swift" /> -->
    </platform>
</widget>
